.home-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: calc(100vh - 80px);
    padding: 2rem;
}

.home-content {
    display: flex;
    width: 100%;
    max-width: 1200px;
    gap: 2rem;
    flex-direction: column; /* Change to column to stack content vertically */
}

@media (max-width: 768px) {
    .home-container {
        padding-top: 3.5rem;
    }

    .home-content {
        gap: 1rem;
    }

    .home-logo {
        width: 100%;
        height: auto;
        max-width: 300px;
        margin-top: 50px;
    }
    
    .image-container {
        min-height: 300px;
    }

    .speech-bubble {
        top: 10px;
        right: 10px;
        max-width: 200px;
        font-size: 0.9rem;
    }

    .text-container {
        padding: 0.5rem;
    }
    .search-button {
        margin-top: 25px;
        margin-left: 0.5rem; /* Add margin to separate the button from the input */
    }
}

.image-container {
    flex: 1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 600px;
}

.text-container {
    flex: 2;
    padding: 1rem;
}

.home-logo {
    width: 570px;
    height: 600px;
    object-fit: contain;
    cursor: pointer;
    transition: all 0.5s ease;
    margin-top: -150px;
    filter: drop-shadow(0 0 10px rgba(100, 108, 255, 0.2));
}

.home-logo:hover {
    transform: scale(1.05);
    filter: drop-shadow(0 0 20px rgba(100, 108, 255, 0.4));
}

.home-logo:hover + .speech-bubble {
    display: block;
    animation: bounceIn 0.5s ease;
}

@keyframes bounceIn {
    0% {
        transform: scale(0.3);
        opacity: 0;
    }
    50% {
        transform: scale(1.05);
    }
    70% { 
        transform: scale(0.9); 
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
@keyframes scroll{
    0%{transform:translateX(0);}
    100%{transform: translateX(calc(-100%));}
}

.speech-bubble {
    display: none;
    position: absolute;
    background: var(--bubble-sage);
    border-radius: 1rem;
    padding: 1rem;
    max-width: 300px;
    top: 20px;
    right: -20px;
    color: var(--text-primary);
}

.speech-bubble:after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-right-color: var(--bubble-sage);
    border-left: 0;
    margin-top: -20px;
    margin-left: -20px;
}

/* Card Styles */
.card-carousel {
    display: flex;
    overflow-x: hidden;
    width: max-content;
    scroll-snap-type: x mandatory;
    gap: 1rem;
    padding: 1rem 0;
    animation: scroll 20s linear infinite;
}

.card {
    flex: 0 0 auto;
    width: 300px;
    background: linear-gradient(135deg, #3f3939, #221f1f);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    scroll-snap-align: start;
    transition: transform 0.3s ease;
}

.card:nth-child(1):hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px 5px rgba(255, 0, 0, 0.5); /* Red light shadow */
}

.card:nth-child(2):hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px 5px rgba(0, 255, 0, 0.5); /* Green light shadow */
}

.card:nth-child(3):hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px 5px rgba(0, 0, 255, 0.5); /* Blue light shadow */
}

.card:nth-child(4):hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px 5px rgba(255, 255, 0, 0.5); /* Yellow light shadow */
}
.card:nth-child(5):hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px 5px rgba(255, 0, 255, 0.5); /* Magenta light shadow */
}
.card:nth-child(6):hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px 5px rgba(0, 255, 0, 0.5); /* Green light shadow */
}

.card:nth-child(7):hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px 5px rgba(255, 0, 0, 0.5); /* Red light shadow */
}
.card:nth-child(8):hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px 5px rgba(0, 255, 0, 0.5); /* Green light shadow */
}
.card:nth-child(9):hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px 5px rgba(166, 121, 24, 0.5); /* Green light shadow */
}
.card:nth-child(10):hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px 5px rgba(69, 0, 189, 0.5); /* Green light shadow */
}

/* Add styles for the search bar */
.search-container {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.search-input {
    padding: 0.5rem 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    width: 300px;
    max-width: 100%;
    transition: border-color 0.3s ease;
}

.search-input:focus {
    border-color: var(--accent-primary);
    outline: none;
}

.search-button {
    padding: 0.5rem 1rem;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: var(--accent-primary);
    color: #e6e0e0;
    font-size: 1rem;
    cursor: pointer;
    margin-left: 0.5rem;
    transition: background-color 0.3s ease;
}

.search-button:hover {
    background-color: var(--accent-secondary);
    color: #221f1f;
    background: #d9a3a3;
}
.card:hover {
    transform: scale(1.05);
}
.card-carousel:hover{
    animation-play-state: paused;
}

.card h3 {
    margin-bottom: 1rem;
    color: var(--text-primary);
}

.card p, .card li {
    color: var(--text-secondary);
}

/* Hide scrollbar */
.card-carousel::-webkit-scrollbar {
    display: none;
}

.card-carousel {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
